
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#active{
    margin-bottom: 2px solid green;
    color:rgb(255, 0, 0);
}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}
.noVisible{
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    position: absolute;
    position: fixed;
}
/*
.fondo{
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    border:2px solid yellow;
    position: static;
}
*/



.seleccion{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
    border-bottom: 5px solid rgb(164, 164, 247);
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(9px);
    flex-wrap: wrap;

}
.nombre-logo{
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0% 0 3.5vh 0;
    border-bottom:2px solid white;
}
.nombre-logo #nombre{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    color:white;
    text-size-adjust: 2rem;
    font-family: 'Black Side', sans-serif;
    
}
.logo{
    width: 60px;
    height: 60px;
    background: rgb(0, 0, 70);
    border: 2px solid rgb(0, 14, 164);
    border-radius: 50px;
}
.navbarPrincipal{
    width: 90%;
    height: 40%;
    display: flex;
    font-family: 'Black Side', sans-serif;
    font-size: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.navbarPrincipal a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
.contenedor{
    top:15%;
    padding: 1.5%;
    height: auto;
    position: relative;
}
.decoracion{
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 50vh solid transparent;
    border-top:  50vh solid rgba(20, 55, 255, 0.291);
    box-shadow: -10px -10px 10px rgba(152, 0, 127, 0.62);
    position: absolute;
}
.container1{
    margin-top: 5vh;
    margin-left: 3%;
    position: absolute;
    border:2px solid rgba(255, 255, 255, 0.616);
    width: 90%;
    height: auto;
    background: rgba(221, 221, 221, 0.753);
    border-radius:0 50px 0 50px;
    display: flex;
    justify-content: center;
}
.tarifa{
    margin: 1vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto p{
    margin-top: 0.5vh;
    width: 100%;
    margin-left: 8%;
}
.clickhere a{
    border:2px solid rgba(152, 186, 255, 0.842);
    border-radius: 30px;
    background: rgba(71, 120, 219, 0.723);
    padding: 1% 1%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    text-decoration: none;
    color:rgba(11, 28, 62, 0.842);
    transition: .6s;
}
.clickhere a:hover{
    border:2px solid rgba(0, 21, 64, 0.842);
    background: rgba(0, 9, 26, 0.894);
    color:rgba(136, 151, 181, 0.842);

}
.clickhere a i{
    font-size: 1.9rem;
    margin-bottom: 0.4vh;
}
.clickhere a p{
    text-align: center;
}
.container2{
    background: rgba(221, 221, 221, 0.264);
    position: absolute;
    width: 90%;
    height: auto;
    margin-left: 3%;
    border:2px solid rgba(98, 0, 155, 0.404);
    margin-top: 50vh;
    border-radius:50px 0 50px 0;
}

table {
    font-family: 'Bionic Comic Bold', sans-serif;
    margin-top: 3vh;
    margin-left: 2vh;
    margin-bottom: 3vh;
    width: 96%;
    border-collapse: collapse;
    color:rgb(197, 230, 165);
}
th, td {
    border: 2px solid #24001d56;
    padding: 2%;
    text-align: left;
}
thead{
    background-color: #6728fa4f;

}
th {
    background-color: #ffffff00;
}
tr{
    transition: .6s;
}
tr:nth-child(even) {
    background-color: #5836a9a7;
    transition: .4s;
}
tr:nth-child(even):hover{
    background-color: #360555d1;
    color:rgb(188, 202, 162);
}
tr:hover {
    background-color: #dce5cc65;
    color:rgb(30, 0, 57);
}
#Bigcontenedor{
    border:2px solid red;
}