@import url('https://fonts.cdnfonts.com/css/cheerful-cupcake');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}
.fondo{
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    position: absolute;
    position: fixed;
}
.container{
    position: absolute;
    width: 35%;
    height: 100%;
    background: rgba(0, 0, 0, 0.822);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 50px 50px 0;
}
.seccionInputs{
    width: 90%;
    height: 90%;

}
.entradaInputs{
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color:white;
}

.Botonrtn a{
    text-decoration: none;
    padding:0.7vh 19vh;
    color:rgb(75, 150, 247);
    transition: .7s;
}
.Botonrtn a:hover{
    color:#000;

}
.entradaInputs .Botonrtn{
    width: 100%;
    height: 3vh;
    background: transparent;
    border-radius: 20px;
    text-decoration: none;
    transition: .6s;
    font-family: 'Cheerful Cupcake', sans-serif;

}
.entradaInputs .Botonrtn:hover{
    background: rgba(245, 0, 82, 0.842);
    border:2px solid rgb(87, 0, 36);
}
.inputsPage {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: center;
}
.inputsPage label{
    color:rgb(65, 185, 255);
    font-family: 'Cheerful Cupcake', sans-serif;
    text-shadow: 0 0 10px rgb(0, 97, 81),
    0 0 4px rgb(3, 128, 107),
    0 0 5px rgb(0, 241, 201);
}
.inputsPage input{
    width:20vh ;
    height: 3vh;
    color: rgb(162, 54, 212);
    text-shadow: 0 0 5px red;
    background: transparent;
    border-radius: 20px;

}
.dropdown-button{
    width: 20vh;
    height: 2.5vh;
    border-radius:8px;
    background: transparent;
    color:rgba(184, 30, 255, 0.808);
}
.dropdown-content{
    display: none;
    flex-direction: column;
    align-items: center;
    background:transparent;
    transition: .6s;
    
}
.dropdown-content a {
    border:1px solid rgb(255, 255, 255);
    background:rgb(90, 17, 94);
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    width: 100%;
    transition: .7s;
}
.dropdown-content a:hover{
    border:2px solid rgb(205, 174, 255);
    background:rgb(58, 24, 63);
    color: rgb(222, 139, 243);

    
}
.entranceUtils{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#registerEntranceBtn{
    width: 10vh;
    height: 3vh;
    font-size: 1rem;
    border-radius:20px;
}
#Boton{
    width: 50%;
    height: 3vh;
    border-radius:10px;
    margin-right: 13vh;
    background: rgba(139, 14, 255, 0.884);
    color: rgb(206, 133, 216);
    font-family: 'Cheerful Cupcake', sans-serif;
    border:2px solid transparent;
    transition: .3s;
}
#Boton:hover{
    background: rgba(139, 14, 255, 0.541);
    color: rgb(245, 0, 114);
    border:none;
}
